{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1 class="text-center">Créez votre compte</h1>

    <div class="col-5 mx-auto my-5 conteneur_form">
        {{ form_start(registrationForm , {'attr':{'class': 'col-7 mx-auto'}}) }}
            {{ form_row(registrationForm.email, {
                label: 'Email : '
            }) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe : '
            }) }}
            

            <div class="col-4 mx-auto"><button type="submit" class="btn btn-outline-primary">M'enregistrer</button></div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
